# Data files
data/*
*.npy
*.pkl

# Model Checkpoints
models/*

# Python
__pycache__/*
*.py[cod]
*$py.class

# node
frontend/node_modules/*

# UV / Virtual Environment
.venv/
.python-version

# OS files
.DS_Store
Thumbs.db